helk-logstash/.DS_Store
.DS_Store
.git
.vscode/
.idea/
.testing/
# Backup files / swap
.bak
.BAK
.dpkg-dist
.swp
.tmp
.test
.backup
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# HELK Custom Configurations
*custom*
/docker/docker-compose.yml
#/docker/helk-nginx/htpasswd.user*
